<div class="container">
  <hr>
</div>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
    <a class="navbar-brand" routerLink=""><span>Winhe Software Engineering Academy</span> </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
  
        

        <span class="nav-link navbar-right active">Copyright © 2018 Winhe, Edu. </span>
      
      </ul>
    </div>
  </div>
  </nav>
