<app-navbar></app-navbar>

<div class="parallax">

    <div class="jumbotron container">
        <h4 class="display-4">Java Associate</h4>
        <p class="lead">The only course you need to learn Java Enterprise Development - Spring, Hibernate, MYSQL, and More! 
        
          <div>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked" ></span>
              <span class="fa fa-star"></span>

         
              <span class=""> 3.7 </span>
              <span class="" style="margin-left:10px;">(53,625 ratings)  </span>
              <span class="" style="margin-left:10px;">230,304 students enrolled </span>

          </div>
          <p class="lead">
          </p>
      </div>
    
</div>
<br>
<div class="container">
  <div class="row">
  <div class="col-8">
    <div class="container">
      <h4 class="display-6">What Will I Learn?</h4>
      <br>
      <div class="row">
        <div class="col-6">
            <ul class="tick">
              <li>Make REAL web applications using cutting-edge technologies</li>
              <li>Create a blog application from scratch using Express, MongoDB, and Semantic UI</li>
              <li>Write your own browser-based game</li>
            </ul>
        </div>
        <div class="col-6">
          <ul class="tick">
            <li>Create a complicated yelp-like application from scratch</li>
            <li>Create static HTML and CSS portfolio sites and landing pages</li>
            <li>Continue to learn and grow as a developer, long after the course ends</li>
          </ul>      
      </div>
      </div>

      <br>
      <h4 class="display-6">Requirements</h4>
      
      <div class="row">
        <ul>
          <li>Have a computer with Internet</li>
          <li>Be ready to learn an insane amount of awesome stuff</li>
          <li>Prepare to build real web apps!</li>
          <li>Brace yourself for stupid jokes about my dog Rusty</li>
        </ul>
      </div>

      <br>
      <h4 class="display-6">Description</h4>
      
      <div class="row">
        <p class="display-6" style="margin-left:20px;">
          Hi! Welcome to the Web Developer Bootcamp, the only course you need to learn web development. There are a lot of options for online developer training, but this course is without a doubt the most comprehensive and effective on the market. Here's why:
          <br>
          This is the only online course taught by a professional bootcamp instructor.
          94% of my bootcamp students go on to get full-time developer jobs. Most of them are complete beginners when I start working with them.
          The previous 2 bootcamp programs that I taught cost $14,000 and $21,000. This course is just as comprehensive but with brand new content for a fraction of the price.
          Everything I cover is up-to-date and relevant to today's developer industry. No PHP or other dated technologies. This course does not cut any corners.
          This is the only complete beginner full-stack developer course that covers NodeJS.
          We build 13+ projects, including a gigantic production application called YelpCamp. No other course walks you through the creation of such a substantial application.
          The course is constantly updated with new content, projects, and modules. Think of it as a subscription to a never-ending supply of developer training.
          You get to meet my dog Rusty!
      <br>
      When you're learning to program you often have to sacrifice learning the exciting and current technologies in favor of the "beginner friendly" classes. With this course, you get the best of both worlds. This is a course designed for the complete beginner, yet it covers some of the most exciting and relevant topics in the industry.
      <br>
      Throughout the course we cover tons of tools and technologies including:
    </p>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
            <li>JavaScript</li>
                <li>Bootstrap</li>
                    <li>SemanticUI</li>
                        <li>DOM Manipulation</li>
                            <li>jQuery</li>
                                <li>Unix(Command Line) Commands</li>
                                    <li>NodeJS</li>
                                        <li>NPM</li>
                                            <li>ExpressJS</li>
                                                <li>REST</li>
                                                    <li>MongoDB</li>
                                                        <li>Database Associations</li>
                                                            <li>Authentication</li>
                                                                <li>PassportJS</li>
                                                                    <li>Authorization</li>



      </ul>
      <p class="display-6" style="margin-left:20px;">   
      <br>
      This course is also unique in the way that it is structured and presented. Many online courses are just a long series of "watch as I code" videos. This course is different. I've incorporated everything I learned in my years of teaching to make this course not only more effective but more engaging. The course includes:
      <br>
      </p>
      <ul>
        <li>Lectures</li>
        <li>Code-Alongs</li>
            <li>Projects</li>
            <li>Exercises</li>
            <li>Research Assignments</li>
            <li>Slides</li>
            <li>Downloads</li>
            <li>Readings</li>
            <li>Too many pictures of my dog Rusty</li>
      </ul>
          

      <p class="display-6" style="margin-left:20px;">
      If you have any questions, please don't hesitate to contact me. I got into this industry because I love working with people and helping students learn. Sign up today and see how fun, exciting, and rewarding web development can be!
      </p>

    
      </div>

      <br>
      <h4 class="display-6">Curriculum for this Course</h4>
      <br>
      <div class="row">

          <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="card" style="width:50rem;">
                <div class="card-header" role="tab" id="headingOne">
                  
                  <h5 class="mb-0">
                    
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                         1. Introduction to the Course
                    </a>
                  </h5>
                </div>
            
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-block">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        2. Introduction to Front End Development
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="card-block">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        3. Introduction to HTML
                    </a>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="card-block">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
            </div>
      </div>

      <br>
      <br>
      
      <h4 class="display-6">Who is the target audience?</h4>
      
      <div class="row">
        <ul>
          <li>This course is for anyone who wants to learn about web development, regardless of previous experience</li>
          <li>It's perfect for complete beginners with zero experience</li>
          
        </ul>
      </div>

      
      <br>
      
      <h4 class="display-6">Related Courses</h4>

      <br>
      <div class="row">
          <div class="card" style="width: 20rem;margin-right:50px;">
              <img class="card-img-top" src="../../../assets/img/course-resize.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Java Professional</h4>
                <div>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked" ></span>
                      <span class="fa fa-star"></span>
                      <span class=""> 4.2 </span>
                      
                      <span class="">(78,625 ratings)  </span>
                      <br>
                      <span class="">21,304 students enrolled </span>
                      <hr>
        
                  </div>
                <p class="card-text"></p>
                <a href="" routerLink="/course/" class="btn btn-primary">View Details</a>
                </div>
            </div>
    
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../../../assets/img/course-resize.jpg" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">Java Expert</h4>
                  <div>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked" ></span>
                        <span class="fa fa-star"></span>
                        <span class="">4.8 </span>
                        
                        <span class="">(21,625 ratings)  </span>
                        <br>
                        <span class="">41,304 students enrolled </span>
                        <hr>
          
                    </div>
                  <p class="card-text"></p>
                  <a href="" routerLink="/course/" class="btn btn-primary">View Details</a>
                  </div>
              </div>

      </div>

      <br>

      <app-feedback></app-feedback>
      
      
  </div>
</div>
  <div class="col-4 pull-right hidden-sm-down">
      <div class="card card-r centered">
          <iframe style="width: 30rem;height:17rem;" src="https://www.youtube.com/embed/kn5kSwXc_WQ?feature=oembed&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <div class="card-block">
            <h2 class="card-title" style="text-align: center">Java Associate</h2>
            
            <a href="#" class="btn btn-primary btn-lg" style="width: 100%">Register Now</a>
            <a href="#" class="btn btn-default btn-lg" style="width: 100%">Add to Favorites</a>
            <p class="card-text"> <b>Includes:</b> </p>
             <div class="row">
               <div class="col-3" style="text-align:right;">
                 
                <i class="fa fa-clock-o"></i><br>
                <i class="fa fa-folder-open"></i><br>
                <i class="fa fa-leaf"></i> <br>
                <i class="fa fa-history"></i> <br>
                <i class="fa fa-graduation-cap"></i><br>
              
              </div>
               <div class="col-9">

                 <span>42 hours of lectures</span><br>
                 <span>53 Articles</span><br>
                 <span>31 Supplemental Resources</span><br>
                 <span>Full lifetime access</span><br>
                 <span>Certificate of Completion</span><br>
                
                </div>
              </div>
              
          </div>
        </div>
  </div>
</div>


</div>

<app-footer></app-footer>