<h4 class="display-6">Student Feedback</h4>
      <br>
      <div class="row">
        <div class="col-3" style="padding-right: 10px;padding-left: 10px;">
          <br>
            <h1 style="font-size:4em;text-align:center;">4.7</h1>
            <div style="text-align:center;">
                <span class="fa fa-star checked" style="font-size:1.5em;"></span>
                <span class="fa fa-star checked" style="font-size:1.5em;"></span>
                <span class="fa fa-star checked" style="font-size:1.5em;"></span>
                <span class="fa fa-star checked" style="font-size:1.5em;"></span>
                <span class="fa fa-star" style="font-size:1.5em;"></span>
            </div>
            
                <div style="text-align:center;">Average Rating</div>

        </div>

        <div class="col-6">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              
        </div>
        <div class="col-3">

            <div style="margin-bottom: 10px;">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked" ></span>
                <span class="fa fa-star checked"></span>
                <span style="margin-left:10px;"> 72%</span>
            </div>
            <div style="margin-bottom: 10px;">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked" ></span>
                <span class="fa fa-star"></span>
                <span style="margin-left:10px;"> 45%</span>
            </div>
            <div style="margin-bottom: 10px;">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star" ></span>
                <span class="fa fa-star"></span>
                <span style="margin-left:10px;"> 25%</span>
            </div>
            <div style="margin-bottom: 10px;">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star" ></span>
                <span class="fa fa-star"></span>
                <span style="margin-left:10px;"> 10%</span>
            </div>
            <div style="margin-bottom: 10px;">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star" ></span>
                <span class="fa fa-star"></span>
                <span style="margin-left:10px;"> 5%</span>

            </div>
        </div>
      </div>

      <div>
        <br>
        <hr>
        <div class="row">
            <div class="col-4">
                <div class="circle">BG</div>
            </div>
            


            <div class="col-8">
                

                <div>
                    <span class="fa fa-star checked" style="font-size:1em;"></span>
                    <span class="fa fa-star checked" style="font-size:1em;"></span>
                    <span class="fa fa-star checked" style="font-size:1em;"></span>
                    <span class="fa fa-star checked" style="font-size:1em;"></span>
                    <span class="fa fa-star" style="font-size:1em;"></span>
                </div>

                <div>
                    <h4>Bhanuka Gamage</h4><p> a month ago</p>
                  </div>

                  <div>
                      <p>This course is worth many thousands of dollars. I was totally new in programming and in IT generally before I took the course. I finished it in 2017, now in the market is demand for React skill. But despite that, all the basic knowledge gained in course is incredibly useful. I created some simple websites for myself, for friends, I can show little portfolio for a company I apply for work/ practice.
                        <br><br>
                          Some stuff were advanced, especially for total beginner like me. I watched lectures many times until I got the point. Best thing is that you have lifetime access, so you can always rewind different subjects.
                          <br><br>
                          I couldn't be happier for buying this course.
                          <br><br>
                          In Lithuania, similar courses (actually, with way less topics) cost 700-900 Eur. Here, you can find amazing web development education for just a few dollars.</p>
                    </div>



            </div>

        </div>

        <br>
        <hr>
        <div class="row">
            <div class="col-4">
                <div class="circle">TR</div>
            </div>
            


            <div class="col-8">
                

                <div>
                    <span class="fa fa-star checked" style="font-size:1em;"></span>
                    <span class="fa fa-star checked" style="font-size:1em;"></span>
                    <span class="fa fa-star checked" style="font-size:1em;"></span>
                    <span class="fa fa-star checked" style="font-size:1em;"></span>
                    <span class="fa fa-star checked" style="font-size:1em;"></span>
                </div>

                <div>
                    <h4>Themiya Ranasinghe</h4><p> two months ago</p>
                  </div>

                  <div>
                      <p>Colt's course was incredibly comprehensive, he made it enjoyable, and I still go back to it for reference purposes.</p>
                  
                  </div>



            </div>

        </div>


        </div>