
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
    <a class="navbar-brand" routerLink=""><img src="../../../assets/img/small-logo.png" width="50px" height="50px" alt="" style="margin-right:30px;"> </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link navbar-right {{isCourse ? 'active' : ''}}" routerLink="/admin/course">Course <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-right {{!isCourse ? 'active' : ''}}" routerLink="/admin/lecturer">Lecturer <span class="sr-only">(current)</span></a>
          </li>
      
      </ul>
      <ul class="navbar-nav ml-auto">
  
          <li class="nav-item">
              <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ session.name}} (Admin)
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    
                    <a class="dropdown-item" href="" (click)="logOut()">Logout</a>
                  </div>
                </div>
            
          </li>
        
        </ul>
    </div>
  </div>
  </nav>
  